[2014-02-26 15:35] forki opened #1 "Make the tests work"
Run "build.cmd Release"

==> all tests fail with "MethodNotFoundException"

[2014-02-26 16:09] #1 closed, assigned to nobody

[2014-03-05 12:34] haf opened #2 "How do I use it with VS2012 and Mono?"
Is there a F# 3.1, assembly version 4.3.1.0 somewhere that is usable? I installed v4.3.1.0 for VS2013 and got the DLL installed, referencing that still gives problems.

And or, how do I make it work in any way possible?

[2014-03-25 11:36] palpha opened #4 "Clean up trailing whitespace"
The trailing whitespace makes diffs quite hard to read (lots of red blocks). I'd be happy to do it, but I'd end up having "contributed" a lot more than is fair. Also, not everyone cares about code sanity like I do, so I'll defer to your judgement :).

[2014-05-02 09:11] mfcd opened #6 "no public type provider classes were found"
I get the following:

Referenced assembly 'C:...\packages\ExcelProvider.0.1.0\lib\net40\ExcelProvider.dll' has assembly level attribute 'Microsoft.FSharp.Core.ComplierServices.TypeProviderAssemblyAttribute' but no public type provider classes were found

This error is generated by:

'''
# r @"C:...\packages\ExcelProvider.0.1.0\lib\net40\ExcelProvider.dll"

'''

could you point me in the right dire

[2014-05-06 04:00] #4 closed, assigned to nobody

[2014-07-21 14:33] #6 closed, assigned to nobody

[2014-09-08 11:49] 7c6f1568-555e-42a8-aff6-9045799c8b86 opened #8 "Sample documentation missing for handling DBNull"
The sample code I took from the documentation works fine until I have an empty cell.

[code]

This then throws System.InvalidCastException
An unhandled exception of type 'System.InvalidCastException' occurred in sample.exe
Additional information: Unable to cast object of type 'System.DBNull' to type 'System.String'.

What is the recommended way to deal with this? I could catch the exception but th

[2014-09-12 00:47] #8 closed, assigned to JohnDoeKyrgyz

[2014-09-12 13:02] fsgit opened #9 "Need CI testing on Mono (OSX)"
A CI build on Mac OSX using Mono 3.4.0 has been set up

The main type provider builds but the build is failing when building the tests, see https://travis-ci.org/fsprojects/ExcelProvider/builds/35113927 for example. This may well be a path problem "\" instead of "/" but it isn't clear.

The steps to reproduce are in .travis.yml (basically just run build.sh)

[2014-10-27 17:52] ghost opened #11 "openWorkbookView not checking reader status"
I have just been checking out the Excel Type Provider, and my initial attempt to link to an Excel file generates a null reference error (red squiggly with "Object reference not set to..."). Looking at the type provider code, it appears that files are opened by the openWorkbookView function, which in turn relies on readers provided by the ExcelDataReaders project. These readers apparently do not th

[2014-10-29 02:32] #11 closed, assigned to JohnDoeKyrgyz

[2015-03-17 01:40] dmitry-a-morozov opened #12 "Selection specific sheet doesn't work"
Hi,
Selecting specific sheet from *.xlsx file doesn't work.
![image](https://cloud.githubusercontent.com/assets/3004037/6679848/97a533b8-cc0b-11e4-9c93-17b14eca3dcd.png)

When I access first spreadsheet in the same file it works
[code]

[2015-03-17 02:20] WallaceKelly commented on #12
I found that adding an exclamation mark is a workaround:

    type Sheet = ExcelFile< @"c:\temp\Library2\test.xlsx", "Sheet2!" >

![sheet2](https://cloud.githubusercontent.com/assets/698424/6680205/85994f1e-cc2a-11e4-90dd-3d7974e77bf7.png)

[2015-03-17 02:51] dmitry-a-morozov commented on #12
Thanks. It works.

[2015-03-17 02:51] #12 closed

[2015-04-07 04:17] NickJosevski commented on #6
I hit this error attempting to build it targeting .NET Framework 4.0 (via some msbuild scripts), changing to build in our intended 4.5.1 fixed this.

[2015-04-18 23:28] vilinski opened #14 "InvalidCastException if some of cells in string column are numeric"
Occurs if enumerate all rows. As a workaround i have selected the entire column and set format to text

System.InvalidCastException: Unable to cast object of type 'System.Double' to type 'System.String'.
   at FSI_0073.it@245-18.Invoke(Row x) in my.fsx:line 245
   at Microsoft.FSharp.Collections.IEnumerator.map@107.DoMoveNext(b& )
   at Microsoft.FSharp.Collections.IEnumerator.MapEnumerator`1.Syst

[2015-05-18 20:35] dmitry-a-morozov opened #15 "HasHeaders type provider parameter"
Would be nice if the type provider had ```HasHeaders = true|false``` parameter to support spreadsheets/regions without headers.

[2015-05-25 16:00] isaacabraham opened #16 "Multiple worksheets don't show up"
If I reference an xslx file with multiple worksheets, it always shows the first sheet, even if I override it with a specific worksheet name in the type constructor.

[2015-05-25 16:01] isaacabraham opened #17 "Header Row skipped in .xls file"
I have an XLS file. Properties for this are shown as the values of the second row rather than the first row (which contains headers).
If I save the file as a XLSX then the headers are correctly used.

[2015-08-05 22:37] ntr opened #19 "Cannot access columns where headers are multiline-cells"
If header cell has multiline content type provider generates multiline property name. Code that accesses these properties does not compile.

I am getting something like:

[code]

[2015-08-09 01:57] ntr commented on #19
Added PR #20 with a fix, unfortunately build is failing on CI server

[2016-01-09 10:13] abhiranjankumar00 commented on #19
Hi, is there any improvements here?

[2016-01-09 10:15] forki commented on #19
Let me check if I can merge the PR

[2016-01-15 13:48] pbbwfc commented on #19
This issue was moved to pbbwfc/ExcelProvider4#1

[2016-01-15 13:49] forki commented on #19
Should be fixed on nuget.
On Jan 15, 2016 14:48, "pbbwfc" <notifications@github.com> wrote:

[2016-01-15 15:07] pbbwfc commented on #19
Sorry about the move message - I was trying to take a copy for my Fork and incorrectly ran a tool which tried to move rather than copy the issue.

I intend to look at this issue in my fork and see if I can fix it.

[2016-01-15 15:09] forki commented on #19
fixing is nice, but you should still keep the issue / disucssion here.

[2016-01-15 15:17] pbbwfc commented on #19
Sorry again - my mistake - I will definitely put the discussion here once I have found something useful.

(I have done some work on the gh-pages - let me know if you think it would be useful to use these changes.)

[2016-01-15 15:19] forki commented on #19
please submit docs changes as Prs to https://github.com/fsprojects/ExcelProvider/blob/master/docs/content/index.fsx

the gh-pages branch is automatically generated from there.

[2016-01-17 14:19] pbbwfc commented on #19
I tried this and could not find a problem. It also seems to be already included in the tests - see test

    ``Multiline column name should be converted to a single line``

I tried a slightly more complex test with a four line header:

      rows.[0].``this\nis \na\ntest``
and it seemed to work OK.

Is there an example that does not work or should it be closed?

[2016-01-17 15:40] pbbwfc commented on #17
I tried this and could not find a problem. It also seems to be already included in the tests - see test

    ``Can load data from spreadsheet``

Is there an example available that does not work?

[2016-01-17 16:44] #17 closed

[2016-01-20 19:04] forki commented on #15
fixed in #26

[2016-01-20 19:04] #15 closed

[2016-08-13 00:14] ntr opened #29 "Add optional sheetName instance constructor parameter"
### Description

I have a file with multiple sheets and they share the same structure. I would like to generate type from the first tab and after that instantiate my type on each of the sheets. It can be done by adding optional sheetName parameter to instance constructor.

### Repro steps

-

### Expected behavior

`type MonthlyData = FSharp.ExcelProvider.ExcelFile< @"c:\tmp\x.xlsx", "JAN">`
`let

[2016-08-18 10:26] yetanotherlogonfail opened #30 "unable to open .xlsm files, macro enabled?"
### Description

Please provide a succinct description of your issue.

### Repro steps

type ef = ExcelFile<"c:\\a\\Main1.xls", HasHeaders=false> // ok
// but not for .xlsm files

* Operating system = windows 7
* Branch
* .NET Runtime, CoreCLR or Mono Version  = .NETFramework,Version=v4.6.1

[2016-10-20 14:13] #16 closed

[2016-10-20 14:14] isaacabraham opened #31 "Support for option types?"
### Description

I can't find any support for optional data within the TP - so I'm forced to fall back to working with strings and then converting to e.g. floats.

Have I missed something?

[2016-11-02 11:25] alexfoxgill commented on #14
I have this problem too

[2016-11-14 16:57] RolandTLH opened #32 "Access to range defined by a Table Name"
Hi,

thank you for the library. It's very useful.
I'm using a lot of Structured References (also called "Table Name") in my Excel Sheets for different reasons.

In VBA, I can access these ranges by its name like any range.
For example, a table défined by the range "A1:B5" named "MyRange" can be accessed both ways : range("A1:B5") or range("MyRange").

It's interesting when you have different table

[2016-11-18 08:11] gaurav-clearTax opened #33 "Unable to use ExcelProvider on VisualStudio for Mac (Mono framework)"
### Description

Program.fs(22,22): Error FS3033: The type provider 'ExcelProvider.ExcelProvider+ExcelProvider' reported an error: Could not create ExcelDataReader. Exception - Could not create ExcelDataReader. Exception - Method 'ICSharpCode.SharpZipLib.Zip.ZipEntry.IsCompressionMethodSupported' not found. (FS3033)

### Repro steps

1. Make a new project
2. Add a template xlsx file
3. Try using t

[2016-11-18 08:19] forki commented on #33
Yeah I guess someone should replace the ICSharpCode with something that runs on mono.

==> up-for-grabs

[2016-11-18 11:35] gaurav-clearTax commented on #33
@forki Isn't the ICSharpCode a dependency for ExcelDataReader? and the loading of assemblies gives us the above error?

I was trying to fix this.. Do you have some work around in mind?

[2016-11-18 11:41] forki commented on #33
Yeah I guess the bug is in ExcelDataReader and should be fixed over there. And then we just paket update the nupgk.

[2016-11-24 08:23] gaurav-clearTax commented on #33
@forki
I tried using ExcelDataReader and ICSharpCode.SharpZipLib independently in Visual Studio for Mac and for me it seems to work.

ICSharpCode.SharpZipLib is also being used in ExcelProvider for generating loadedAssemblies? I don't have much context on why we are doing that... Can you give me a bit of primer on this?

[2016-11-24 08:26] forki commented on #33
I'm not the original author of this. so no sorry. All I can say is that lib needs to be replaced. But personally I don't have time for that

[2016-11-29 16:37] isaacabraham opened #34 "Custom ranges"
I'd like to be able to select a range of cells from a fixed top-left and supply the right-most column, but not the number of *rows* e.g.

Instead of ``A2:B99`` I would like to be able to simply do ``A2:B`` and get all cells until the end of the table. Is this possible?

[2017-01-10 16:08] isaacabraham opened #35 "Culture Info setting"
Is there any way (or plans) to allow setting Globalization settings when reading sheets? If you use ``ForceString = true``, it *appears* to return the data in the OS culture, rather than the current culture of the app domain that's been set. This causes problems downstream if you then do any parsing operations.

[2017-01-27 09:15] matteo-mosca opened #36 "Cannot load excel file at runtime"
### Description

I can't find a way to load an excel file at runtime. I can only use the one specified as a constant in the type provider initialization

### Repro steps

There are no steps to reproduce this problem.

### Expected behavior

I expect to use the the constant file as a "template" and then be able to specify at runtime which file to parse, which will need to have the same structure of

[2017-01-27 20:09] ppalmerjm commented on #36
One would expect that like the [Linq to Sql provider](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/tutorials/type-providers/generating-fsharp-types-from-dbml).

Something like a **.dbml** file or a way to specify that
- the template looks like a file **_XTemplate.xlsx_** in the current directory
- and the Excel file(s) to parse can be found in some **other directory** with the format
**

[2017-02-09 09:15] halcwb opened #38 "Cannot refresh intellisense to changes in excel file"
### Description

Intellisense for a fsx file shows error after changing column names in excel template file.

### Repro steps

Create an Excel template file with columns A and B called test.xlsx. Reference the type provider dll in an fsx file. Create the types using the text.xlsx. Write some code using columns A and B

1. Step A

Change column B to C in the excel file.

2. Step B

Change the namin

[2017-02-09 16:22] diegobfernandez opened #39 "Support .NET Standard"
### Description

I would like to use this package on a .NET Standard library.

### Repro steps

1. `dotnet add MyProject.csproj package ExcelProvider`

### Expected behavior

ExcelProvider to be installed on project

### Actual behavior

[code]

### Known workarounds

None

### Related information

[code]

[2017-02-12 20:15] diegobfernandez commented on #36
Have you tried invoking the type constructor with a file path?
Check the source: https://github.com/fsprojects/ExcelProvider/blob/master/src/ExcelProvider/ExcelProvider.fs#L192

[code]

[2017-02-17 12:46] Horusiath opened #40 "Allow do define custom schema for column types"
It looks like at the current state `ExcelProvider<>` supports a very [limited](https://github.com/fsprojects/ExcelProvider/blob/master/src/ExcelProvider/ExcelProvider.fs#L56) set of data types, namely `float`, `bool`, `DateTime` (which sometimes is not recognized correctly) and `string`.

This issue brings two things:

1. Support more types, at least `double`, `decimal`, `int`, `int64` and options

[2017-03-10 16:29] StefanBelo commented on #36
I have got the same problem. What you suggest:

type MyExcel = ExcelFile<"excel.xlsx">
let excel = MyExcel "another-excel.xlsx"

Does not load data from "another-excel.xlsx". Processing data ends with:

Exception thrown: 'System.OverflowException'

It seems new data are not loaded, nor iteration through data works, it is always loaded first row from template excel file ExcelFile<"excel.xlsx">.

[2017-04-05 14:16] abhiranjankumar00 commented on #39
+1

[2017-05-09 08:26] zelite opened #41 "Empty rows after data get read anyway"
### Description

I have an [excel file](https://github.com/fsprojects/ExcelProvider/files/985950/TestBook.xlsx) with five rows (including headers).
When reading it with the ExcelProvider, I get one extra empty row. Is this the expected behavior?

### Repro steps

1. Get the [excel file](https://github.com/fsprojects/ExcelProvider/files/985950/TestBook.xlsx)

2. Run the following FSharp script:

[c

[2017-05-12 12:32] dsyme opened #42 "Please update ProvidedTypes.fs for Mono 5.0 #82"
Please update to use the latest version of ProvidedTypes.fs, as described in fsprojects/FSharp.TypeProviders.StarterPack#121

[2017-05-12 18:53] sergey-tihon commented on #42
@JohnDoeKyrgyz Could you please re-release package on NuGet?
Sorry, I accidentally pushed the fix to the repo indead proper PR.

[2017-05-16 12:59] JohnDoeKyrgyz commented on #42
NuGet package is updated.

[2017-05-16 12:59] #42 closed

[2017-05-23 17:27] dsyme commented on #42
Thanks!

[2017-05-24 17:44] magnushammar opened #43 "Problems with FSharp.Core versioning when building with Build.cmd"
The Tests are failing because of FSharp.Core referencing and deployment issues.
- ExcelProvider references 4.3.1.0
- ExcelProvider.Tests references **4.4.1.0**
- FSharp.Core deployed is 4.3.1.0

After reading among other things the issue microsoft/visualfsharp#2399 and not finding a solution, I tried to go around the problem and upgraded the project to 4.4.1.0, but then...
- ExcelProvider referenc

[2017-05-24 19:43] sergey-tihon commented on #43
According to https://fsharp.github.io/2015/04/18/fsharp-core-notes.html you should not rely on GAC in any situation and ship FSharp.Core.dll with application (test proj = application)

@magnushammar  Please try code from PR branch, I've updated .net framework to net461 for test, reference latest FSharp.Core from Nuget, updated NUnit and FsUnit to latest version.

[2017-05-24 21:27] magnushammar commented on #43
It works like a charm with the PR branch and thank you for the link.

Aside from being new to F# I also am quite new to the .Net framework. Trying to figure out the different versions, locations, project formats etc make my head spin far more than F#

Anyway, thank you again!

[2017-05-25 04:31] sergey-tihon commented on #43
You are welcome. The magic is in assembly redirects that I generated automatically using Paket

[code]

this line tells .net runtime to return v4.4.1.0 to anyone who asks for FSharp.Core.

All other changes are just updates to latest version of libraries and tooling.

[2017-06-22 13:29] ArtemyB commented on #36
@diegobfernandez thanks for the tip, it worked for me. It's great I've stumbled upon your comment. 👍

[2017-08-11 16:25] yufan-at-arcadlon commented on #34
I'd like this also. I have existing code that does this with Linq and OpenXML in VB.NET, but wanting to transfer to F#. The problem this solves is skipping the overarching header above the data table.

[2017-08-16 12:41] AkosLukacs commented on #43
@sergey-tihon Tried the code in your pull request, but failed. Here is the summary:

[code]

msbuild version: Microsoft (R) Build Engine version 15.1.1012.6693
dotnet: v.1.1.0

[2017-08-16 14:28] sergey-tihon commented on #43
@AkosLukacs Sorry, but I have no idea how to fix it =(
As you see, build is green on both CI server and my local machine, so the error is somehow related to your local environment.

I saw error `The target "Rebuild" does not exist in the project.` before, but I have no idea what it the reason and how to fix it in a general way.

[2017-08-19 06:39] randomizedthinking commented on #33
Encountered the same issue on Linux.

[2017-08-21 13:44] yufan-at-arcadlon opened #45 "Full CRUD"
It would be wonderful if this provider could achieve full CRUD (Create, Read, Update, Delete) on an Excel table. Currently I am using this for reading and OpenXML SDK for writing.

[2017-08-22 21:22] AkosLukacs commented on #43
@sergey-tihon Thanks for the reply!
For reference: just RTFM [fsharp.org](http://fsharp.org/use/windows/) says `Starting with Visual Studio 2017 Update 3, F# is an optional component. Simply select F# from the Individual Components tab and press Install.`
VS build tools reinstall solved my issue.

[2017-08-23 04:39] sergey-tihon commented on #43
@AkosLukacs  does it work for you finally?

[2017-08-23 05:20] AkosLukacs commented on #43
Yes, thanks. Both from VS and command line.

On 23 Aug 2017 06:39, "Sergey Tihon" <notifications@github.com> wrote:

@AkosLukacs <https://github.com/akoslukacs> does it work for you finally?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/fsprojects/ExcelProvider/issues/43#issuecomment-324219012>,
or mute the thread
<https:/

[2017-08-23 05:23] sergey-tihon commented on #43
I did merge PR with fix and close this issue

[2017-08-23 05:23] #43 closed

[2017-08-25 15:31] yufan-at-arcadlon opened #46 "Use Embedded Resources as Template"
### Description

There is no way to refer to an embedded resource as template to construct the type now.

### Known workarounds

None

[2018-02-13 01:42] bslatner opened #47 "Support for ranges specified at runtime"
I'd like the ability to determine the range at runtime.

I have several files I need to import that contain "bands" of information on the same worksheet. Thus, the range I need to parse moves depending on how much information is in the band above it.

I have code in place to figure out where those ranges are, but don't have a way to specify them when I open the file via the type provider.

At pres

[2018-02-14 17:24] bslatner opened #49 "Wrong output path"
In ExcelProvider.fsproj, the <OutputPath> tag is \bin\Debug instead of bin\Debug. i.e., there's a leading \ that probably shouldn't be there. When you compile in debug mode, it writes the output to C:\bin\Debug.

[2018-03-26 13:07] Jand42 opened #52 "Use FSharp.TypeProviders.SDK"
### Description

Currently the project uses a version of `FSharp.TypeProviders.StarterPack` which seems to not have correct redirecting of `FSharp.Core` references to the one used by the compiling project.

### Repro steps

If you have latest F# tools installed which uses an `FSharp.Core` with assembly version `4.4.3.0`, the TP currently generates a reference to that, even if the project itself re

[2018-06-22 06:52] goswinr commented on #6
I somtimes have the same problem

[2018-06-30 09:18] goswinr opened #54 "no public type provider classes were found ( when hosted)"
I get this error with script files on .NET Framework (not Core).
I use the FSharp Compiler Service with my own WPF editor. As a standalone Editor App the type provider works fine. All good.

But when I host my F# Editor and FCS inside my CAD app (Rhinoceros3D) I get this error message.
The same error is shown in by the FsChecker as well as by FSharp Interactive.

What is different in the hosted co

[2018-08-15 00:29] jackfoxy opened #55 "Feature request: more flexible headers"
### Description

Enable more flexibility to declaring headers. Currently header can only be the first row in a selected range.

Frequently headers will span 2 or more cells in a column.
Sometimes headers are followed by a blank, or otherwise useless row. Including this row in selection range breaks column type inference.

### Expected behavior

1) allow skipping one or more rows in a range after t

[2018-08-15 00:38] jackfoxy opened #56 "Feature request: read more rows to infer column type"
### Description

I don't know how many rows the TP reads before attempting to infer column types, but it is not enough. Type inference is frequently incorrect because the TP did not recognize (for instance) that a blank cell appears in the column, which should render it an option type, or that a decimal number appears further down a column, and so the type should not be int.

Conduct some experime

[2018-08-15 00:42] jackfoxy opened #57 "Feature request: override schema definition"
### Description

Frequently the column types inferred by the TP are wrong. Implement a schema definition parameter, similar to how CSV TP does. The ability to override only selected columns in the range would be preferred.

### Known workarounds

ForceString

[2018-09-06 14:27] dsyme commented on #2
Closing this very old issue

[2018-09-06 14:27] #2 closed

[2018-09-06 14:27] dsyme commented on #49
This was fixed by moving to SDK-style proejct files

[2018-09-06 14:27] #49 closed

[2018-09-06 14:28] dsyme commented on #46
Duplicate of #57

[2018-09-06 14:28] #46 closed

[2018-09-06 15:04] quintusm commented on #39
+1

[2018-09-06 16:32] #52 closed

[2018-09-06 16:32] dsyme commented on #52
Fixed, but not yet released

[2018-09-11 14:16] goswinr commented on #54
this is fixed with
https://github.com/fsprojects/ExcelProvider/pull/58

[2018-09-11 14:16] #54 closed

[2018-09-12 12:46] dsyme commented on #40
Duplicate of #57

[2018-09-12 12:46] #40 closed

[2018-09-12 12:47] #19 closed

[2018-09-14 17:16] dsyme commented on #39
Addressed in https://github.com/fsprojects/ExcelProvider/pull/61.

Please give version 1.0.0 a go.  Namespace has been changed to `FSharp.Interop.Excel.ExcelProvider`

[2018-09-14 17:17] dsyme opened #62 "Rename main namespace to FSharp.Interop.Excel.ExcelProvider"
This renaming was done in #61

[2018-09-14 17:17] dsyme commented on #62
e.g.

    open FSharp.Interop.Excel.ExcelProvider

[2018-09-20 13:07] quintusm opened #64 "Live published documentation is out of date"
### Description

The documentation as published at [](https://fsprojects.github.io/ExcelProvider/index.html) is out of date as of version 1.  It is still referring to the old Fsharp.ExcelProvider namespace

### Repro steps

Visit the website at [](https://fsprojects.github.io/ExcelProvider/index.html) and subpages

### Expected behavior

The documentation should refer to opening Fsharp.Interop.Exc

[2018-10-05 00:04] magnushammar commented on #35
This one bit me today. My expectation from ForceString was that I would get the same exact string that I see in Excel. If I have the characters 12,34 in Excel I don't expect to get the string "12.34", its not the same sequence of characters. 😄

A very real problem is also that the behavior will change depending on the cell format. I am certain that this would have haunted me in the future if I had

[2018-11-08 18:05] mathias-brandewinder opened #65 "Assembly named ExcelProvider.RunTime instead of ExcelProvider"
### Description

The assembly from the nuget package is named `ExcelProvider.Runtime.dll`, which disagrees with the current documentation, and seems accidental/odd. Either the docs need to be updated (see issue #64) or the name is incorrect. I presume the name is incorrect, but I didn't want to touch anything before confirming what the expected behavior was.

### Repro steps
Please provide the ste

[2018-11-08 18:11] sergey-tihon commented on #65
Projects looks migrated to new TP template and assembly names are correct.
So this probably means that docs require some love

[2018-11-09 06:52] quintusm commented on #65
@dsyme  did the migration to new template in September.  The published documentation on the website is out of date as per #65.  I haven't had time to figure out the process to publish correct documentation.  I believe the documentation in the git repository is correct, but not published.

[2018-11-09 07:29] sergey-tihon commented on #65
Release docs as easy as to call `build.cmd ReleaseDocs` from the root of the repo.
I did just it from current `master` - https://github.com/fsprojects/ExcelProvider/commit/a3d868bcb590313cdb591cce484aa4deb4f8feaf
but seems that docs are out of date ...

[2018-11-09 07:41] quintusm commented on #65
@sergey-tihon  I will spend some time to work through it and try to bring it up to date.

[2018-11-14 08:14] waynebx commented on #35
I guess it has something to do with using the `string` operator to convert values to String. `string` operator will attempt to use `InvariantCulture` instead of the current culture if the input can be casted to `IFormattable`

[2019-01-09 15:08] dgrimmin opened #66 "cannot find designtime dll"
### Description
With the change to version 1.0.x the F# interactive is not able to find the designtime dll. It searches in the lib directory while it should be looking in the typeproviders directory,

### Repro steps

Reference the runtime dll and open FSharp.Interop.Excel . The fsi will be complaining about the TypeProviderAssembly attribute refering to a designtime dll.

### Expected behavior

A

[2019-01-31 11:17] dgrimmin commented on #66
Upgrading to F#4.5 solved the issue. Issue is closed.

[2019-02-14 01:46] albertwoo opened #67 "Cannot load ExcelDataReader"
### Description

未能加载文件或程序集“ExcelDataReader, Version=3.4.1.0, Culture=neutral, PublicKeyToken=93517dbe6a4012fa”或它的某一个依赖项。系统找不到指定的文件。

### Related information

* Operating system: Windows 10 18334
* Branch: 1.0.1, 1.0.0, 0.9.1
* .NET CORE 2.2
* FSharp.Core 4.6
*  TargetFramework: net471
    Platforms: x86

[2019-03-30 01:05] natsukagami commented on #66
I'm still having this issue. On linux, with F# 4.5

[code]

[2019-04-17 04:53] albertwoo commented on #14
I think this should be marked as bug instead of enhancement.

[2019-05-12 18:00] drk-mtr opened #68 "Is this meant to work with dotnet core? (System.Text.Encoding.CodePages dependency error)"
_I'm new to F# so this may well be user error..._

### Description

I get the following error when trying to run a simple solution:

`
error FS3033: The type provider 'FSharp.Interop.Excel.ExcelProvider.ProviderImplementation+ExcelProvider' reported an error: Could not load file or assembly 'System.Text.Encoding.CodePages, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Could n

[2019-05-13 07:21] quintusm commented on #68
HI
The provider is intended to work with dotnet core.  Dot net framework (included with Windows) includes the different code pages.  Working on dot net core you need to register it explicitly when using ExcelProvider.

Adding the following line to your application startup should solve the issue:
 ` System.Text.Encoding.RegisterProvider(CodePagesEncodingProvider.Instance)`

[2019-05-13 13:25] drk-mtr commented on #68
Thanks for the help! Unfortunately I can't get that working, but I may have misunderstood where I need to register it. I've tried this:

[code]

Also tried moving the `Encoding...` line outside of the main method and putting `do` in front of it but no joy.

[2019-05-13 13:48] quintusm commented on #68
I would have expected that to work.  What platform are you running on (Windows, Linux or Mac, and which version) ?

If you could upload a zip file or point to a repo or gist I could try to assist with troubleshooting.

[2019-05-13 13:53] quintusm commented on #68
Also, please note that you need to have the correct package installed. You can install it via nuget with the dotnet command line as follows:
`dotnet add package System.Text.Encoding.CodePages`

[2019-05-28 11:14] tforkmann commented on #68
Hey,

I just ran into the same issue.

I create a testproject with my latest state: https://github.com/tforkmann/ExcelProviderTest

Any help your be appreciated.

[2019-06-04 11:07] quintusm commented on #68
HI @tforkmann
I had a look at this, but could not resolve it in the time I had available.  This is some dependency resolution error that is breaking the build.  I will try to investigate further.  This used to work before, so not sure what changed

[2019-11-14 11:26] giuliohome commented on #67
Any news? I'm having the same issue on .Net Framework too.
As a workaround, should I manually add this dependency to the project, right?
Please, confirm, thanks.

[2019-11-15 01:54] albertwoo commented on #67
I use paket, and I have to set specific version like below:
[code]

[2019-11-15 02:04] giuliohome commented on #67
I don't use paket but it has a documentation about assembly bindings:
 https://fsprojects.github.io/Paket/dependencies-file.html#Controlling-assembly-binding-redirects

[2019-12-12 14:56] quintusm commented on #39
I think we can safely close this issue now

[2019-12-12 14:56] #39 closed

[2019-12-12 15:18] quintusm commented on #64
The documentation has been updated

[2019-12-12 15:55] quintusm commented on #68
HI

My apologies for long delayed response.  It seems that if you are targeting dotnet core or netstandard you need to explicitly add references to the following nuget packages:
- System.Text.Encoding.CodePages
- System.Runtime.CompilerServices.Unsafe

I will see if there is some way to specify this via nuget so the dependencies are automatically included

[2019-12-12 16:47] quintusm commented on #68
The above nuget packages worked for me in interactive window. However, running as a Console App I also needed to add the following nuget packages
 - ExcelDataReader
 - ExcelDataReader.DataSet

At time of writing I targeted netcoreapp3.1.
The package references in the project file where as follows:
 <ItemGroup>
    <PackageReference Include="ExcelDataReader" Version="3.6.0" />
    <PackageReference

[2019-12-13 11:31] quintusm commented on #68
I do not understand why the above is necessary as these dependencies are specified in the nuget package and should be automagically resolved via the nuget restore infrastructure.

[2019-12-13 12:12] quintusm opened #69 "Build.cmd fails with FS2026 on Windows with VS16.4"
### Description

Build.cmd fails with error FS2026 on windows if run after checkout

### Repro steps

1. Step A

Check out the repository onto a Windows machine with Visual Studio 16.4 installed

2. Step B

Attempt to run build with command "./build.cmd" from command line with Administrator Privileges

### Expected behavior

Expect the libraries to be built successfully.

### Actual behavior

The

[2019-12-13 12:15] quintusm commented on #69
According to [this](https://github.com/dotnet/fsharp/issues/7363) issue in the compiler this is a new by design behaviour, so we will need to change our build script to reflect this

[2019-12-27 08:28] ksigmund opened #71 "Implement ability to load data via a Stream"
### Description

I'd like to be able to load data from a `System.IO.Stream`

For context, I am trying to load data while running inside an Azure Function with a BlobStorage trigger.  At that point, I have access to the data I need in the form of a stream.

The workaround (I think) is to write the data out to temp storage and then read it back in using the facility provided (i.e. by providing the f

[2020-01-05 17:07] drchanix commented on #68
https://docs.microsoft.com/en-us/dotnet/api/system.text.encoding.registerprovider?view=netframework-4.8
Encoding.RegisterProvider(EncodingProvider)
Applies to
.NET Core
3.1 3.0 2.2 2.1 2.0 1.1 1.0
.NET Framework
4.8 4.7.2 4.7.1 4.7 4.6.2 4.6.1 4.6
.NET Standard
2.1 2.0 1.6 1.4 1.3
UWP
10.0
Xamarin.Android
7.1
Xamarin.iOS
10.8
Xamarin.Mac
3.0

[2020-01-11 15:04] #69 closed

[2020-02-06 10:12] giuliohome commented on #56
Please, this is also my issue. Can we get a bit more extended feedback here=
Is it really the number of rows that the TP reads?
Please - at least - clarify **how many are they** in the current release as it is, before suspending the whole request as an enhancement.
Thank you very much for understanding.

[2020-02-06 18:04] jackfoxy commented on #56
@giuliohome  when I looked, the number of lines was easy to find in the code. IIRC it was something like 25 or 50.
I haven't used this TP in well over a year, so I have no current feedback. My memory is it could be a lot better. That said, even with improvements I have no plans to use it in the future.

[2020-02-06 18:47] giuliohome commented on #56
Hi @jackfoxy
thank for your reply. It'sstrange, I have a blank after 3 or 4 lines and the field is interpreted a float/double... and it throws an exception on the blank/row
Will double check it again, if I overlooked anything (actually I like my "workaround" anyway...)

[2020-02-07 00:21] jackfoxy commented on #56
@giuliohome I recall other typing issues. You probably found one I experienced. I filed 3 issues, all on the same day, which addressed the most egregious problems I was having. I think it was not long after this I dismantled all the Excel processing and banned Excel file submission in our company. That's how I solved the problem.

[2020-02-07 05:40] giuliohome commented on #56
@jackfoxy thanks for sharing your experience and feel free to unsubscribe from the issue.

Really, I was writing to the maintainers of this project.

[2020-02-07 05:45] giuliohome commented on #31
See also my workaround https://github.com/fsprojects/ExcelProvider/issues/56#issuecomment-582830687
If the maintainer consider this an enhancement that is not even planned for implementation, they should clearly write this project is experimental and not ready for production...

[2020-03-26 17:32] ViktorTsvetkov opened #72 "System.Text.Encoding.CodePages dependency error in docker container"
### Description

I have prepared a sample app which I can run successfully, but once I try to build a linux docker container using the provided Dockerfile I get the following error:

`/src/Program.fs(3,22): error FS3033: The type provider 'FSharp.Interop.Excel.ExcelProvider.ProviderImplementation+ExcelProvider' reported an error: Could not load file or assembly 'System.Text.Encoding.CodePages, Ver

[2020-04-17 14:21] jkone27 opened #73 "Support Google Sheets"
### Description

I think it would be interesting for the provider to support manipulation of online googlesheet data

https://www.google.com/sheets/about/

what do you think :)

[2020-05-16 21:55] mjarosie commented on #67
Had the same issue. I was able to use this package after invoking:

[code]

which seems like a quick fix. I'm quite new to the .NET ecosystem, shouldn't these dependencies be handled implicitly when installing the `ExcelProvider` package?

[2020-05-17 10:18] quintusm commented on #73
It might be nice to have a google sheet provider. However, the way it works would be completely different from the ExcelProvider as the ExcelProvider works by manipulating the XLSX file whereas with Google Sheets you would have to work with some kind of online google api's so it  does not make sense to implement as part of the ExcelProvider.

[2020-05-17 10:22] quintusm commented on #67
Hi @mjarosie .

Yes it should, but for some reason it doesn't

Will have another look at it to see if i can fix this.

[2020-05-24 13:08] quintusm opened #74 "Build.fsx fails on build step with error"
### Description

If you check out the repo on a windows 10 machine and attempt to build it by running build.cmd the build fails after downloading dotnet sdk 2.1.401 and attempting to unzip it.

### Repro steps

Please provide the steps required to reproduce the problem

1. Step A
Clone the repository to local windows 10 machine with Visual Studio and/or Visual Code installed

2. Step B
Attempt to

[2020-06-04 05:22] 121GWJolt opened #75 "Feature Request: Parameter to expose textual forms of formulas in sheet."
I'm currently in a scenario where I'm trying to read the raw text of a formula and parse out a bit of info from it (which is less than ideal, but it's what I've got to work with. Parsing out image urls from a Google sheet downloaded in XLSX form because CSV never provides them, but some data is only stored on there within image formulas so it displays on sheets).

 Currently, ExcelProvider only gi

[2020-07-06 16:02] dsyme commented on #74
Hi @quintusm, would you like to become a co-maintainer on this repo?

[2020-07-07 08:54] quintusm commented on #74
Hi @dsyme. Yes I would...  I think you actually did already add me before.

I am currently busy in background trying to move build.fsx to Fake 5 but it is taking longer than anticipated.  I think once that is done it will be easier to sort out other issues coming up.

[2020-07-07 12:27] dsyme commented on #74
@quintusm You're right, here: https://github.com/fsprojects/ExcelProvider/pull/48

I've updated the README.md :-)

[2020-07-07 12:49] quintusm commented on #74
@dsyme Thanks

[2020-09-09 22:24] MicaelMor commented on #34
Would like to add in case anyone comes and reads this, that using say `Range = "A2"`, does make it so that the table is read starting at `A2`, it isn't exactly the same as the `A2:B` example, since it would still read data to the right of column B, but it does mean that it reads data starting from A2.

[2020-10-01 07:41] halcwb commented on #67
@quintusm Any update on this issue? When running code from a script (using paket generate-load-scripts), all works fine. but when trying to use the code from another project, the above error occurs.

[2020-10-01 11:44] quintusm commented on #67
HI @halcwb

Unfortunately this issue still exists.  The nuget package currently specifically targets net45 and netstandard2.0 so if you target those platforms it brings down the correct dependencies. On other platforms is doesn't bring down the required packages and you get the runtime issues you are experiencing. The workaround currently is as follows:
Manually add dependencies to the following n

[2020-10-02 12:44] TheSchemm commented on #32
I came here to see if this issue existed. I am working on a project now that would benefit a lot from this.

[2020-10-15 20:58] halcwb opened #76 "You can only use this provider with an absolute path for the excel file??"
### Description

When the path of the Excel file is relative. This will not work when moving the compiled code to a different location. The path will still be the absolute path of the original coding location.

### Repro steps

Please provide the steps required to reproduce the problem

1. Create a type with the type provider on a D disk

2. Try to run the compiled code on a C disk

### Expected b

[2020-10-15 21:09] halcwb commented on #76
Stumbled upon this issue: https://github.com/fsprojects/ExcelProvider/issues/36.

Problem solved, pfff.

[2020-10-15 21:09] #76 closed

[2020-10-16 08:43] quintusm commented on #76
@halcwb Glad you found a solution

[2020-12-01 00:26] abelbraaksma commented on #31
@giuliohome, since this is open source and I believe it started as a proof of concept for type providers, it's a bit rough on the edges. What this project really needs is some contributors that like to step in. I'm sure you can write a PR (the source of this project isn't that complex).

And personally there are some features I might contribute to myself, for instance the dynamic range selection,

[2020-12-01 00:29] abelbraaksma commented on #29
Not sure why this wasn't closed, but the thing you're requesting here currently works exactly as you've written it: you can provide a 2nd argument to the constructor at runtime to designate the sheetname for your type provider.

[2020-12-01 00:35] abelbraaksma opened #77 "When a sheetname isn't found, the type provider defaults to a non-deterministic first sheet with a different name"
### Description

In an Excel file with Sheet1, Sheet2, Sheet3, assuming each has a different type, and assuming the sheetname is given as an argument to the constructor: if the given sheetname is not found at runtime, it is silently ignored and the internally first sheet is used instead.

Note that the "first sheet" is the first you've created. When you move sheets to the right in Excel, the displ

[2020-12-01 03:19] giuliohome commented on #31
Yes, after a quick look at the source I would guess that the point could be around [here](https://github.com/fsprojects/ExcelProvider/blob/master/src/ExcelProvider.DesignTime/ExcelProvider.DesignTime.fs#L115).

Well, maybe I can write a PR, I'll think about it...

[2020-12-01 03:44] giuliohome commented on #31
Or maybe it's better to discuss the idea before writing any code.

It seems it look at the first row to determine types. One could assume that the template is chosen and modified in order to simplify type inferring, so the easiest idea could be: let's guess the type with the first two rows instead of only one. And let's say that the inferred type is T option when one cell is empty and the other ha

[2020-12-01 10:23] quintusm commented on #31
HI all.
I am in the process of doing an update to move the code base to FAKE5 and .netstandard only as per the template for type providers. This has proven to take much longer than anticipated and I have had less time to spend on it than I expected.

Once that is done it should be easier to make progress on the core functionality of the project and I will be looking at trying to implement more of

[2020-12-24 22:55] ScottHutchinson opened #78 "Error restoring in Visual Studio: error NU1202: Package System.Text.Encoding.CodePages 4.5.0 is not compatible with net45 (.NETFramework,Version=v4.5)."
ExcelProvider.DesignTime.fsproj builds in Visual Studio 2019 version 16.8.3, but there are errors about incompatible nuget packages.

Also, when VS restores, it modifies the .paket\Paket.Restore.targets file, which is part of the repo and is complicating the source control. Maybe that file should be in .gitignore?

EDIT: Before building in VS, I ran build.cmd, which was successful.

What is the be

[2021-01-03 14:16] quintusm commented on #78
Hi @ScottHutchinson

I am in process of doing update to paket and fake code.  Unfortunately this is a fairly large undertaking as fake has moved from v4 to v5 that requires considerable porting as it has a lot of breaking changes to the api.  Also, I am having to figure out what the old code was doing, I was not around when it was done.  I cannot provide an estimate to completion time.

Please not

[2021-01-03 18:21] ScottHutchinson commented on #78
Thanks for the update. I was planning to add a new feature, but these errors distracted me. Maybe consider removing paket and fake, if they are more trouble than they are worth for this repo.

[2021-04-09 21:47] jonsagara opened #79 "Running from an F# script within Visual Studio using relative paths"
### Description

This is more a question on proper usage; I think `ExcelProvider` is behaving correctly.

I'm trying to load a spreadsheet at runtime in a `.fsx` file from FSI within Visual Studio. The `.xlsx` file resides in the same directory as the `.fsx` file. `ExcelProvider` is satisfied by the relative path, but when I execute the script, I get a `FileNotFoundException`:

[code]

Here is the

[2021-04-10 07:22] sergey-tihon commented on #79
I think that the good practice is to use  [__SOURCE_DIRECTORY__](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/source-line-file-path-identifiers). This is reliably way to be sure that path is correct.

[code]

but you also can contribute a fix 😝
here https://github.com/fsprojects/ExcelProvider/blob/master/src/ExcelProvider.DesignTime/ExcelProvider.DesignTime.fs#L149 `cfg:TypePr

[2021-04-13 16:45] jonsagara commented on #79
That worked perfectly. Thank you!

[2021-04-13 16:45] #79 closed

[2021-04-13 16:59] jonsagara commented on #79
A little followup: looks like this is a known issue:

https://github.com/dotnet/fsharp/issues/10865

[2021-07-14 14:34] plainionist commented on #71
Pull request submitted: https://github.com/fsprojects/ExcelProvider/pull/82

[2021-08-11 18:21] quintusm opened #83 "Change Master to Main"
### Description

Using "master" as the name of the definitive branch is generally seen as non-inclusive and the industry is moving towards "main" as the default convention.

### Repro steps

Currently the definitive branch is "master"

### Expected behavior

The definitive branch should be "main"

### Actual behavior

Currently the definitive branch is "master"

[2021-08-14 10:09] quintusm opened #85 "Add repo-visualization github action"
### Description

The repo-vizualization github action creates a graphical visualization of the repo showing different folders and files that gives a quick overview of the structure of the project and what kind of files it mostly consists of

### Repro steps

No repro, this is a request for new functionality that assist developers wanting to work on the code of the repo gain a better/different unde

[2021-09-04 14:51] quintusm commented on #78
I have updated the build and the tooling to new versions.  Also, the build is now only building for NetStandard2.0, which is getting rid of a lot of issues.

All packages have been updated to compatible versions.

@ScottHutchinson I presume you have moved on to other things, but if you are still looking at adding a feature it would be appreciated. You are welcome to discuss with me as I may be abl

[2021-09-04 14:51] #78 closed

[2021-09-04 14:52] #74 closed

[2021-09-04 14:54] quintusm commented on #71
@ksigmund this functionality has been added by @plainionist as mentioned above and is included in version 2.0.0 which has been published now.  You can have a look at the test code to see it in action.

[2021-09-04 14:54] #71 closed

[2021-09-04 14:56] quintusm commented on #68
This issue should be resolved with Version 2.0.0 release which is only targeting netstandard 2.0

[2021-09-04 14:56] #68 closed

[2021-09-04 15:00] quintusm commented on #72
@ViktorTsvetkov, you have probably moved on with your life, but I have just released version 2.0.0 of this provider, which I believe will solve this issue.  I would appreciate it if you or someone else using the provider in Docker can provide confirmation that it is working now.

[2021-09-04 15:03] quintusm commented on #64
Documentation needs to be updated again

[2021-09-04 15:06] quintusm commented on #67
Version 2.0.0 is released.  This version is now built for netstandard2.0 only, and this issue should now be resolved.  Closing this issue.

[2021-09-04 15:06] #67 closed

[2021-09-04 15:08] quintusm commented on #66
With the release of v2.0.0 this issue should be resolved.  Please comment if anybody still encounters the issue with version 2.0

[2021-09-04 15:10] quintusm commented on #33
Can anybody comment if this is still an issue with version2.0.0.

I don't have access to a Mac so can't confirm that it is sorted.

[2021-10-27 21:19] jim108dev opened #90 "Getting Started: Unable to find the file 'ExcelProvider.dll'"
### Description

I have followed the steps on the "Getting Started" page. I am stuck because I don't know how to provide 'ExcelProvider.dll'.

### Repro steps

1. Create new directory `excel_provider`.
2. Paket: Add Nuget Package: "ExcelProvider".
3. Paket: Generate Load Scripts
3. Create Test code file `main.fsx` with code from "Getting Started" page
[code]
1. Running interactive shell leads to a

[2021-11-03 20:07] jim108dev commented on #90
Thank you @quintusm!
I realized ExcelProvider does not write to Excel. Best wishes!

[2021-11-03 20:08] #90 closed

[2021-12-09 14:14] gmlion commented on #41
I'm dealing with this bug everytime I use this library. Is this behaviour consistent as it seems? Is there any reason to not cut the last row?

[2021-12-09 14:19] quintusm commented on #41
HI.  This seems to be consistent behavior, I am also getting it.  I haven't looked in the code as yet to try and see what causes it.  The only reason not to remove it is that it may be a breaking change for users who have written code depending on this quirk.  It would be interesting to hear from other users how they would want this to be addressed.

[2021-12-09 18:48] irfancharania commented on #41
I would expect this bug to be fixed as a breaking change (and appropriately noted in the release notes).

Currently, I'm doing a quick and dirty work around like this:
[code]